* {
  box-sizing: border-box;
}




body {

    background-color:#212121
    
      }
    
     
    
    header {
    
      background-color: rgb(0, 0, 0);
    
      color: #ffffff;
    
      padding: 3.5%;
    
      text-align: center;
    
    }
    
     
    

    
     
    br {
    color: white;
    text-align: center;
    }
     
       p {
    color: white;
     text-align: center;
    }
    
    h3 {
    
    color: white;
    
    text-align: center;
    
    display: block;
    
    margin: 0 auto;
    
    }
    
     
    
     
    .right{
    text-align: center;
    margin-left: 120px;
    color: white;
    }
    
    
    .left{
    padding: 15px;
    color: white;
    }
    
    .btn {
    
      border: 2px solid black;
    
      color: black;
    
      padding: 14px 28px;
    
      font-size: 16px;
    
      cursor: pointer;
    
    }
    
     
    
    .grey {
    
      border-color: #e7e7e7;
    
      background: #e7e7e7;
    
      color: black;
    
    }
    
     
    
    .green {
    
      border-color: #4CAF50;
    
      background: #4CAF50;
    
      color: black;
    
    }
    
     
    
     
    #top:hover {
    
        background-color: #212121;
    
    }
    
    table {
        font-family: arial, sans-serif;
        border-collapse: collapse;
        width: 100%;
        color: white;
        background-color: #212121
    }
    
    td,
    th {
        border: 1px solid #212529;
        text-align: left;
        padding: 8px;
        color: white;
    
    }
    
    tr:nth-child(even) {
        background-color: #212529;
    }
    
    #table {
        color: white;
    }
    
    
    #table:hover {
        color: #2ed98c
    }
     
     
     h2 {
     color:white;
     }
    
  /* For mobile phones: */
[class*="col-"] {
  width: 100%;
font-size: 20px;
}

@media only screen and (min-width: 600px) {
  /* For tablets: */
  .col-s-1 {width: 8.33%;}
  .col-s-2 {width: 16.66%;}
  .col-s-3 {width: 25%;}
  .col-s-4 {width: 33.33%;}
  .col-s-5 {width: 41.66%;}
  .col-s-6 {width: 50%;}
  .col-s-7 {width: 58.33%;}
  .col-s-8 {width: 66.66%;}
  .col-s-9 {width: 75%;}
  .col-s-10 {width: 83.33%;}
  .col-s-11 {width: 91.66%;}
  .col-s-12 {width: 100%;}
}

@media only screen and (min-width: 768px) {
  /* For desktop: */
  .col-1 {width: 8.33%;}
  .col-2 {width: 16.66%;}
  .col-3 {width: 25%;}
  .col-4 {width: 33.33%;}
  .col-5 {width: 41.66%;}
  .col-6 {width: 50%;}
  .col-7 {width: 58.33%;}
  .col-8 {width: 66.66%;}
  .col-9 {width: 75%;}
  .col-10 {width: 83.33%;}
  .col-11 {width: 91.66%;}
  .col-12 {width: 100%;}
}
        

