background-color:#000000

  }

 


 

header {

 

  background-color: rgb(0, 0, 0);

 

  color: #ffffff;

 

  padding: 3.5%;

 

  text-align: center;

 

}

 


 

.logo{

 

vertical-align: left;

 

display: inline-block; float: left;

 

}

 


 

.logo2{

 

vertical-align: right;

 

}

 


 


 


 

h3 {

 

color: white;

 

text-align: center;

 

display: block;

 

margin: 0 auto;

 

}

 


 


 

.one {

 

color: white;

 

padding: 25px ;

 

margin: 0px 0px 20px 20px;

 

width: 100%;

 

text-align: center;

 

float: left;

background-color: #212121

}

 

 


 

.btn {

 

  border: 2px solid black;

 

  color: black;

 

  padding: 14px 28px;

 

  font-size: 16px;

 

  cursor: pointer;

 

}

 


 

.grey {

 

  border-color: #e7e7e7;

 

  background: #e7e7e7;

 

  color: #fffff;

 

}

 


 

.green {

 

  border-color: #4CAF50;

 

  background: #4CAF50;

 

  color: #fffff;
  }

 


#top:hover {

background-color:#212121 ;

}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  color: white;
  background-color: #212121
}

td, th {
  border: 1px solid #212529;
  text-align: left;
  padding: 8px;
  color: white;
  
}

tr:nth-child(even) {
  background-color: #212529;
}

#table {
 color: white;
}

#table:hover {
color: #2ed98c
}